<div class="container">
    <div class="cliente">
        <h2>Cliente: {{this.pedidoServicio.pedido.nombreCliente}} </h2>
        <h5>Total: {{this.pedidoServicio.pedido.total |currency: "BOB: "}} </h5>
    </div>

    <div class="detalle">
        <table class="table table-bordered  table-dark">
            <thead>
              <tr class="color">
                <th scope="col" >ProductoId</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Total</th>
                <th scope="col">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let producto of this.pedidoServicio.pedido.pedidoDetalle; let position= index">
                
                <td> {{producto.productoId}}</td>
                <td> {{producto.nombreProducto}} </td>
                <td>
                  <p  *ngFor="let des of producto.Productos" > {{des.descripcion}}></p>
                </td>
                <td> <input (input)="calcularTotal(position)" [(ngModel)]="producto.cantidad" > </td>
                <td> {{producto.precio |currency:"BOB: "}} </td>
                <td> {{producto.total |currency: "BOB: "}} </td>
                <td> 
                  <button (click)="eliminar(position)">
                    <svg class="bi bi-x-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z" clip-rule="evenodd"/>
                      <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                      <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
                    </svg>
                  </button> 
                </td>
              </tr>
              
            </tbody>
          </table>
        <button class="btn btn-primary" (click)="guardar()" >Guardar</button>
    </div>
</div>