<div class="container" >
    <div class="row mt-4">
        <div class="col-sm-3 mt-3" *ngFor="let pedidos of listadoPedidos">
          <div class="card clientes">
            <div class="card-body">
              <h5 class="card-title">Cliente: {{pedidos.nombreCliente}} </h5>
              <h6 class="card-subtitle">Total a Pagar {{pedidos.total | currency:"BOB: "}} </h6>
              <p class="card-text">Total Productos: {{pedidos.pedidoDetalle.length}} </p>
              
            </div>
          </div>
        </div>
      </div>
</div>