<div class="container mt-5">
  <form action="" class="form-group">
    <input (input)="buscarClientes($event.target.value)" placeholder="Busque un cliente...." type="text" class="form-control">
  </form>
  <button class="btn btn-primary" [routerLink]="['/agregar-cliente']" routerLinkActive="router-link-active"  >Agregar Cliente Nuevo</button>
  <div class="row mt-4">
    <div class="col-sm-3 mt-3" *ngFor="let cliente of clientes ">
      <div class="card clientes">
        <div class="card-body">
          <h5 class="card-title"> {{cliente.nombre}} {{cliente.apellido}} </h5>
          <h6 class="card-subtitle">Id: {{cliente.clienteId}} </h6>
          <p class="card-text">{{cliente.direccion}} </p>
          <a (click)="irAProductos(cliente)" class="card-link ">Agregar</a>
          <a href="#" class="card-link ">Informacion</a>
          
        </div>
      </div>
    </div>
  </div>
</div>